/* Стилизация кнопки */
.preview__button {
  margin: 15px;
}

.button {
  border: none;

  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
  padding: 15px 62px 14px 63px;
  color: #ffffff;
  background: var(--primary);
}

.button_primary:hover {
  background: var(--primary-hover);
}

.button_primary:disabled {
  background: var(--primary-disabled);
  opacity: 0.5;
  cursor: default;
}

.button_secondary {
  padding: 15px 53px 14px 53px;
  color: var(--white);
  background: var(--secondary);
}

.button_secondary:hover {
  background: var(--secondary-hover);
}

.button_secondary:disabled {
  background: var(--secondary-disabled);
  opacity: 0.5;
  cursor: default;
}

.button_alternate {
  padding: 15px 58px 14px 58px;
  color: var(--grey-4);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
}

.button_alternate:hover {
  border: 1px solid var(--black);
  box-sizing: border-box;
}

.button_alternate:disabled {
  opacity: 0.5;
  color: var(--grey-4);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  cursor: default;
}
