.skeleton {
  width: 500px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
}

.skeleton__margin {
  margin: 24px;
}

.skeleton__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skeleton__header__avatar {
  display: inline-block;
  background: var(--grey-2);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
}

.skeleton__header__rows {
  width: 90%;
}

.skeleton__body__rows {
  width: 100%;
}

.skeleton__row {
  display: block;
  height: 20px;
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  margin-bottom: 8px;
}

.skeleton__row_w50 {
  width: 50%;
}

.skeleton__row_w70 {
  width: 70%;
}

.skeleton__row:last-child {
  margin-bottom: 0;
}
